body {
  h1, h2 {
    font-size: .875rem;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: $darkGrey;
    margin-bottom: .5em;
  }

  p + p {
    margin-top: 1rem;
  }

  section + section {
    margin-top: 1.5rem;
  }

  svg {
    line-height: 1;
  }

  a {
    text-decoration: none;
  }
}
