@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/mavenpro-regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url(/src/assets/fonts/MavenPro-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url(/src/assets/fonts/MavenPro-Bold.ttf) format('ttf');
}
