// Fonts
$mainFont: "Maven Pro", Roboto, Helvetica, Arial, sans-serif;

// Colors
$black: rgba(51, 51, 51, 1);
$darkGrey: rgba(112, 112, 112, 1);
$grey: rgba(170, 170, 170, 1);
$lightGrey: rgba(228, 228, 228, 1);
$lighterGrey: rgba(239, 239, 239, 1);
$white: rgba(255, 255, 255, 1);
$shadow: rgba(0, 0, 0, 0.18);
$main: rgba(245, 168, 40, 1);
$lightMain: rgba(255, 172, 28, 0.15);
$info: rgba(90, 179, 219, 1);
$warn: rgba(236, 174, 66, 1);
$danger: rgba(219, 90, 90, 1);
